
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
          <tr>
              <th>Button</th><th>Description</th><th>Properties</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><button class="btn btn-primary" onclick="alert('Working 1')">Action1</button></td>
              <td><span>ToolbarItem #1</span></td>
              <td><input type="checkbox" />Option 1</td>
          </tr>
          <tr>
              <td><button class="btn btn-primary" onclick="alert('Working 2')">Action2</button></td>
              <td><span>ToolbarItem #2</span></td>
              <td><input type="checkbox" />Option 2</td>
          </tr>
          <tr>
              <td><button class="btn btn-primary" onclick="alert('Working 3')">Action3</button></td>
              <td><span>ToolbarItem #3</span></td>
              <td><input type="checkbox" />Option 3</td>
          </tr>
      </tbody>
    </table>
  </div>