
<h1>Accounts</h1>
<div>
    <ul class="heroes">
        <li *ngFor="let hero of heroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
        <button type="button" class="btn btn-primary" tooltip="Click to Add New Account!" (click)="addNew()">Add New Account</button>
    </ul>
</div>
<div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div>
        <label><strong>ID:</strong> {{selectedHero.id}}</label>
    </div>
    <div>
        <label><strong>Name:</strong> <input [(ngModel)]="selectedHero.name" popover="You can dynamically change the name!" placement="bottom" placeholder="Enter Name" />
        </label>
    </div>
</div>
